type gsm0710mux, domain;
type gsm0710muxd_exec, exec_type, file_type;

init_daemon_domain(gsm0710mux)
net_domain(gsm0710mux)
domain_auto_trans(init, rild, gsm0710mux)
allow gsm0710mux self:netlink_route_socket nlmsg_write;
allow gsm0710mux kernel:system module_request;
unix_socket_connect(gsm0710mux, property, init)
allow gsm0710mux self:capability { setuid net_admin net_raw };
allow gsm0710mux alarm_device:chr_file rw_file_perms;
allow gsm0710mux cgroup:dir create_dir_perms;
allow gsm0710mux radio_device:chr_file rw_file_perms;
allow gsm0710mux radio_device:blk_file r_file_perms;
allow gsm0710mux mtd_device:dir search;
allow gsm0710mux efs_file:dir create_dir_perms;
allow gsm0710mux efs_file:file create_file_perms;
allow gsm0710mux shell_exec:file rx_file_perms;
allow gsm0710mux bluetooth_efs_file:file r_file_perms;
allow gsm0710mux bluetooth_efs_file:dir r_dir_perms;
allow gsm0710mux radio_data_file:dir rw_dir_perms;
allow gsm0710mux radio_data_file:file create_file_perms;
allow gsm0710mux sdcard_type:dir r_dir_perms;
allow gsm0710mux system_data_file:dir r_dir_perms;
allow gsm0710mux system_data_file:file r_file_perms;
allow gsm0710mux system_file:file x_file_perms;

# property service
allow gsm0710mux radio_prop:property_service set;
allow gsm0710mux net_radio_prop:property_service set;
allow gsm0710mux system_radio_prop:property_service set;
auditallow gsm0710mux net_radio_prop:property_service set;
auditallow gsm0710mux system_radio_prop:property_service set;

# Read/Write to uart driver (for GPS)
allow gsm0710mux gps_device:chr_file rw_file_perms;

allow gsm0710mux tty_device:chr_file rw_file_perms;

# Allow gsm0710mux to create and use netlink sockets.
allow gsm0710mux self:netlink_socket create_socket_perms;
allow gsm0710mux self:netlink_kobject_uevent_socket create_socket_perms;

# Access to wake locks
wakelock_use(gsm0710mux)

allow gsm0710mux self:socket create_socket_perms;

allow gsm0710mux sysfs:file write;
allow gsm0710mux system_prop:property_service set;
allow gsm0710mux radio_device:chr_file setattr;
allow gsm0710mux self:capability fsetid;
allow gsm0710mux init:dir search;
allow gsm0710mux kernel:dir search;
allow gsm0710mux system_data_file:file { write setattr };

# Talk to agpsd
allow gpsd gsm0710mux:unix_stream_socket { connectto };

allow gsm0710mux gsm0710mux:unix_stream_socket { connectto };

allow gsm0710mux self:netlink_route_socket { setopt write };
allow gsm0710mux radio_data_file:dir r_dir_perms;
allow gsm0710mux radio_data_file:file rw_file_perms;
allow gsm0710mux system_data_file:dir create_dir_perms;
allow gsm0710mux system_data_file:file create_file_perms;
dontaudit gsm0710mux self:capability sys_admin;

# XXX Label sysfs files with a specific type?
allow gsm0710mux sysfs:file rw_file_perms;

allow gsm0710mux ctl_gsm0710mux_prop:property_service set;
