# Needed by bdaddrwriter
allow init vfat:dir { search };

# Needed by iptables
allow init self:rawip_socket { create read write getattr setattr getopt setopt };
allow init self:udp_socket { create read write getattr setattr getopt setopt };

allow init device:file execute;
allow init google_exec:file { create open read write getattr setattr };
allow init gpsd_exec:file { create open read write getattr setattr };
allow init system_file:dir { create open read write getattr setattr add_name remove_name };
allow init system_file:file { create open read write getattr setattr link rename unlink append };
