# Needed by bdaddrwriter
allow init vfat:dir { search };
# Needed by iptables
allow init self:rawip_socket { create read write getattr setattr getopt setopt };
