allow netd self:capability fsetid;
allow netd unlabeled:file { open read write getattr setattr link rename unlink append };
allow netd kernel:system module_request;
