# Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
# and revert to the base sysfs type.
allow rild sysfs:file write;
allow rild system_prop:property_service set;
allow rild radio_device:chr_file setattr;
allow rild self:capability fsetid;
allow rild init:dir search;
allow rild kernel:dir search;

# Talk to agpsd
allow gpsd rild:unix_stream_socket { connectto };

# Fix
allow rild ctl_gsm0710mux_prop:property_service set;
allow rild system_data_file:file { write read open create setattr };
allow rild system_data_file:dir { write read open add_name create getattr };
allow rild init:file { open read };
allow rild kernel:file { open read };
allow rild init:lnk_file read;
allow rild kernel:lnk_file read;
allow rild self:capability sys_ptrace;

allow rild adbd:dir search;
allow rild debuggerd:dir search;
allow rild dhcp:dir search;
allow rild drmserver:dir search;
allow rild gpsd:dir search;
allow rild hdmid:dir search;
allow rild healthd:dir search;
allow rild htcbatt:dir search;
allow rild installd:dir search;
allow rild keystore:dir search;
allow rild lmkd:dir search;
allow rild logd:dir search;
allow rild mediaserver:dir search;
allow rild netd:dir search;
allow rild nfc:dir search;
allow rild nvm_server:dir search;
allow rild platform_app:dir search;
allow rild sdcardd:dir search;
allow rild servicemanager:dir search;
allow rild sudaemon:dir search;
allow rild surfaceflinger:dir search;
allow rild system_server:dir search;
allow rild ueventd:dir search;
allow rild untrusted_app:dir search;
allow rild vold:dir search;
allow rild wpa:dir search;
allow rild zygote:dir search;
