allow shell cpuctl_device:dir search;
allow shell su:process signal;
allow shell google_exec:file { read getattr open execute execute_no_trans };
allow shell properties_device:file execute;
