allow untrusted_app kernel:system module_request;
allow untrusted_app racoon_exec:file { open read getattr };
allow untrusted_app sdcardd_exec:file { open read getattr };
allow untrusted_app sensors_config_exec:file { open read getattr };
allow untrusted_app servicemanager_exec:file { open read getattr };
allow untrusted_app surfaceflinger_exec:file { open read getattr };
allow untrusted_app sysinit_exec:file { open read getattr };
allow untrusted_app tee_exec:file { open read getattr };
allow untrusted_app uncrypt_exec:file { open read getattr };
allow untrusted_app userinit_exec:file { open read getattr };
allow untrusted_app vdc_exec:file { open read getattr };
allow untrusted_app vold_exec:file { open read getattr };
allow untrusted_app wpa_exec:file { open read getattr };
allow untrusted_app recovery_cache_file:dir { open getattr read search };
allow untrusted_app recovery_cache_file:file { open read getattr };
allow untrusted_app bootanim_exec:file { open read getattr };
allow untrusted_app clatd_exec:file { open read getattr };
allow untrusted_app debuggerd_exec:file { open read getattr };
allow untrusted_app dhcp_exec:file { open read getattr };
allow untrusted_app dnsmasq_exec:file { open read getattr };
allow untrusted_app drmserver_exec:file { open read getattr };
allow untrusted_app dumpstate_exec:file { open read getattr };
allow untrusted_app gpsd_exec:file { open read getattr };
allow untrusted_app hdmid_exec:file { open read getattr };
allow untrusted_app hostapd_exec:file { open read getattr };
allow untrusted_app htcbatt_exec:file { open read getattr };
allow untrusted_app imc_exec:file { open read getattr };
allow untrusted_app install_recovery_exec:file getattr;
allow untrusted_app installd_exec:file { open read getattr };
allow untrusted_app keystore_exec:file { open read getattr };
allow untrusted_app lmkd_exec:file { open read getattr };
allow untrusted_app logd_exec:file { open read getattr };
allow untrusted_app mdnsd_exec:file { open read getattr };
allow untrusted_app mediaserver_exec:file { open read getattr };
allow untrusted_app mtp_exec:file { open read getattr };
allow untrusted_app netd_exec:file { open read getattr };
allow untrusted_app nvm_server_exec:file { open read getattr };
allow untrusted_app ppp_exec:file { open read getattr };
allow untrusted_app rild_exec:file { open read getattr };
allow untrusted_app auditd_log:dir { open read getattr };
allow untrusted_app camera_data_file:dir { open read getattr };
allow untrusted_app radio_data_file:dir { open read getattr search };
allow untrusted_app setupfs_exec:file { open read getattr };
allow untrusted_app cand_exec:file { open read getattr };
allow untrusted_app google_exec:file { open read getattr };
allow untrusted_app gsm0710mux_exec:file { open read getattr };
allow untrusted_app unlabeled:dir { open read getattr };
allow untrusted_app unlabeled:file { open read getattr };
allow untrusted_app device:dir { open read getattr };
